main{
    background-color: rgb(230, 230, 230);
}
.card-section{
    text-align: center;
    padding: 12px;
}

.card-section  h1{

    font-size: 3.2em;
}

.card-container{
    display: flex;
    gap: 30px;
    justify-content: center ;
    
    flex-wrap: wrap;
}


.card{
    width: 300px;
    border: 2px solid rgb(255, 165, 0);
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: -2px -2px 4px rgb(95, 90, 90) , 2px 2px 4px rgb(114, 111, 111);

}
.card:hover{

    background-color: rgb(247, 182, 63);
    border: 2px solid rgb(247, 182, 63);
}
.card button:hover{
    background-color: white;
    color: orange;
}
.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3{

    font-size: 1.25em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.card button{

    background-color: rgb(42, 159, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.20em;
    border-radius: 10px;
    font-weight: 500;
    border: transparent;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
    
}