.herocontainer{
    display: flex;
    align-items: center;
    background-color: aqua;
    justify-content: center;
    border-radius: 12px;
    gap: 30px;
}

.herocontainer div{
    padding: 12px;
    font-size: 1.3em;
}
.herocontainer button{
    background-color: red;
    color: white;
    padding: 10px 23px;
    border-radius: 12px;
    font-size: 1.2em;
    align-self: center;
    justify-content: center;
    cursor: pointer;

}

.herocontainer button:hover{

    color: aqua;
    background-color: black;
}

.herocontainer img {

    width: 100%;
    min-height: 400px;
    border-radius: 19px;
}
body{
    max-width: 1270px;
    margin: 0 auto;
}